:root {
    --cyan: #2bb3b1;
    --dark-cyan: #4abebd;
    --yellow: hsl(71, 73%, 54%);
    --light-blue: hsl(218, 22%, 67);
    --bg-color: #e6eff6;
    --text-color: #e9ffff;
}

body {
    font-family: sans-serif;
    background-color: var(--bg-color);
    color: var(--text-color);
    padding: 64px 32px;
    display: grid;
    place-items: center;
    min-height: 100vh;
}

@media screen and (min-width: 768px) {
    .section {
        grid-template-columns: repeat(2, 1fr);
        max-width: 600px;
        margin-left: auto;
        margin-right: auto;
    }
}

.section {
    display: grid;
}

@media screen and (min-width: 768px) {
    .box:first-of-type {
     grid-column: 1/3;
    }

    .box:nth-of-type(2) {
        border-radius: 0 0 0 10px; 
    }
}

@media screen and (min-width: 768px) {
    .box:last-of-type {
        border-radius: 0 0 10px 0;
    }
}


.box {
    padding: 20px;
}

.box__title-blue {
    color: var(--cyan);
    padding-top: 40px ;
    text-align: center;
}

.box__title {
    color: var(--text-color);
}

.box__currency {
    font-size: 1.5rem;
}

.box__currency::before {
    content:'$';
}

.box__periodicity {
    margin-left: 10px;
    color: #76d4d4
}

.box__subtitle {
    color: var(--yellow);
    font-weight: 700;
    padding-left: 20px;
}

.box__text {
    color: rgb(0, 0, 0);
    font-weight: 500;
    padding-left: 20px;
    
}

.box--light-blue {
    background-color: #fff;
    
}

.box--cyan {
    background-color: var(--cyan);
    padding: 20px;
    border-radius: 10px 10px 0 0;
}

.box--dark-cyan {
    background-color: var(--dark-cyan);
    padding: 20px;
    border-radius: 0 0 10px 10px;
    
}

.box__title {
    margin: 0;
}

.box__buttom {
    display: block;
    background-color: var(--yellow);
    text-decoration: none;
    width: 100%;
    padding: 16px 0;
    text-align: center;
    color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);

}

.list {
    list-style: none;
    margin-bottom: 0;
    padding-left: 0;
}